/*palette couleurs*/

$colorPurple: #9356dc;
$colorPurple2: #f2c8ee;
$colorPink: #ff79da;
$colorGreen: #99e2d0;
$colorBlack: #000;
$colorWhite: #fff;
/*picto*/
$colorGrey : #D0D3D4; 
/*localisation*/
$colorGrey2: #fafafa;
/*presentation*/
$colorGrey3: #f1efef;
